html {
  box-sizing: border-box;
  font-size: 100%;
}

*,*::before,*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  height: 100vh;
}

.container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  &__toggle {

    &__title {

    }

    &__subtitle {
      text-align: right;
    }
  }
}